<div class="row">
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="https://marketingdeconteudo.com/wp-content/uploads/2017/01/formatos-de-imagem-2.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="https://marketingdeconteudo.com/wp-content/uploads/2017/01/formatos-de-imagem-2.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="https://marketingdeconteudo.com/wp-content/uploads/2017/01/formatos-de-imagem-2.jpg" alt="...">
    </a>
  </div>

    </div>